[2017-10-26 14:55] alexellis opened #5 "NATS images"
<img width="1440" alt="screen shot 2017-10-26 at 15 55 06" src="https://user-images.githubusercontent.com/6358735/32060205-04545692-ba66-11e7-9e6d-b800a07b9bf5.png">
<img width="1440" alt="screen shot 2017-10-26 at 15 55 19" src="https://user-images.githubusercontent.com/6358735/32060206-047eb75c-ba66-11e7-94d3-1343ea1811db.png">
<img width="1440" alt="screen shot 2017-10-26 at 15 55 25" src="http

[2017-11-05 16:51] alexellis opened #6 "Custom headers and QueryString should be serialized and passed onto function."
Custom headers such as `X-Forwarded-By` or query string values such as `?id=alex` should be passed onto the function when it is invoked by a queue worker. This also needs a related change in the gateway: https://github.com/openfaas/faas/issues/369

[2017-11-05 16:57] alexellis commented on #6
A change would be required here to construct a URL - https://github.com/openfaas/nats-queue-worker/blob/master/queue-worker/main.go#L93

[2017-11-06 16:34] #5 closed

[2017-11-11 16:23] johnmccabe commented on #6
@alexellis  this can be closed now, both #7 and openfaas/faas#369 are merged/closed.

[2017-11-11 23:50] alexellis commented on #6
Derek close

[2017-11-20 15:12] alexellis opened #10 "Custom Ack timeout"
## Description

Ack time-out appears to be set to 30 seconds. This means async jobs should complete within 30 seconds or they will be retried.

## Workarounds

The synchronous timeout can be upped and used instead.

## Solution

We should look at options, but we can:

* Ack early and continue ( functions/queue-worker:ack_early )
* Make the timeout custom

Thanks @blu3gui7ar for notifying.

[2017-11-21 05:11] ericstoekl opened #11 "Make NATS Streaming message input/response optional"
Because `func_queue-worker` writes output to the log, it is visible when you run `docker service logs func_queue-worker`.

This means that if you are returning binary data from your function, the logs will be useless.

I think that debug logs of output data should be surpressed by default (similar to `write_debug = false`).

[2017-11-23 09:21] stefanprodan opened #12 "Gateway crashes on startup if there is a new instance connected to Nats"
On rolling updates or scale up operations the Gateway will crash with the following message:

[code]

[2017-11-24 03:13] blu3gui7ar commented on #10
Currently, Nats provide 'run at least once' semantic for tasks.

If infrastructure intends to provide more execution semantics, such as ' run once and only once', the Ack behavior should be enhanced.

Another option is to leave it to the task. In that case,  more metadata from Nats, such as 'redeliver' and 'task id', should be exposed to task (through http header?).

An enhanced queue-worker with

[2017-11-25 08:44] #12 closed

[2017-11-30 16:04] alexellis commented on #10
This is now customisable

[2017-11-30 16:04] #10 closed

[2018-01-07 17:52] alexellis commented on #11
I think I did this.. but it's an optional flag  because it's extremely useful to have the message body printed out for debugging.

[2018-01-21 16:34] dungeonmaster18 opened #15 "Proposal: Add GitHub issue and pull request template"
As all the faas repos has pre-defined issue and pull request template. I think we should have that for this repo as well.

Cc / @alexellis

[2018-01-21 16:36] dungeonmaster18 commented on #6
Derek: close

[2018-01-21 17:17] alexellis commented on #6
Derek close

[2018-01-21 17:17] #6 closed

[2018-02-07 15:39] alexellis commented on #15
I agree.. can you do that please?

[2018-02-07 15:43] dungeonmaster18 commented on #15
Sure...

[2018-02-08 21:59] #15 closed

[2018-04-16 12:39] alexellis opened #20 "CI: push an image when doing a release"
Copy the mechanism from th FaaS project so that we automatically push a binary Docker image upon release via GitHub (tag pushed)

[2018-04-19 16:36] alexellis opened #23 "CI: create new release"
Create a release to test CI's ability to push Docker Images.

[2018-04-23 12:16] iyovcheva commented on #20
Derek close

[2018-06-19 12:11] #23 closed

[2018-06-19 12:11] alexellis commented on #23
Done

[2018-06-19 12:11] alexellis commented on #20
Done

[2018-06-19 12:11] #20 closed

[2018-06-19 12:11] alexellis commented on #11
@ericstoekl can we get an update please?

[2018-06-24 08:37] alexellis commented on #11
While in the code I'd like to see the several env-parsing statements execrated to a new Config struct.

[code]

This should work in a similar way to `faas`/`faas-netes` or one of the other projects that reads env-vars into a config struct.

[2018-06-27 05:33] ericstoekl commented on #11
So we want to do something similar to how this works? https://github.com/openfaas/faas/blob/d3d320dc33262fdc63c00440f8b800219849ac3d/gateway/types/readconfig.go#L56

I think I see what needs to be done here, just need to test it out and submit a PR

[2018-07-24 13:26] alexellis opened #32 "Support scale_from_zero"
## Expected Behaviour

In the gateway, when a function is invoked which has zero replicas, it will request that the function is scaled up and then block the HTTP request until the function is ready. The queue-worker should mirror this behaviour.

## Current Behaviour

The queue-worker calls functions directly over HTTP, so if a function (deployment) has 0/0 replicas it will return an error - HTTP

[2018-07-25 07:39] LucasRoesler commented on #32
I like two things about about Option 2

1.  it solves scale up and scale down by keeping all of the logic and required state information in a single place (the gateway) _and_ it does this without a lot of changes
2. it make for a very predictable flow both for how requests get to the function.  The same for how a function scales.

Overall, I like the consistency it brings.

If a message is already

[2018-07-25 08:05] alexellis commented on #32
It could be for very high throughput. It depends on the use-case.

At the moment there is the ability to set up multiple timeout values so you can have a longer run-time for work on the async queue vs work entering via the gateway.

Gateway:

function timeout must be lower than GW timeout

GW tends to face the public, so a shorter timeout is recommended

Queue worker:

Queue worker timeout || func

[2018-07-25 08:53] stefanprodan commented on #32
I would go with option 3 to avoid a roundtrip and keep the worker code simple.

[2018-09-04 07:24] alexellis opened #35 "Auth needed for gateway calls to /system/async-report"
## Expected Behaviour

The call to `/system/async-report` needs to be decorated with basic auth credentials.

## Current Behaviour

It is open which is why no changes were needed, but this is invalid because someone could discover the gateway and post false statistics to this endpoint.

## Possible Solution

- Update docker-compose/helm/yaml to add the basic auth username/password to this componen

[2018-09-04 07:36] alexellis commented on #32
OK so we have a vote for 2 + 3.

In scenario 2 we have a chatty interface where the work comes into NATS via the gateway's async endpoint, then goes via the queue/stream and back to the gateway on the synchronous endpoint.
What about the current behavior where you can have a different async timeout than sync timeout?
GW - set low to prevent abuse - i.e. 2-3 seconds. Async set to 5 minutes.

In sce

[2018-09-04 13:37] burtonr commented on #32
I'll put a vote in for option 3.

I think the latency will become a problem especially as I know there are already some issues with managed K8s services (specifically Azure) and adding additional latency, and network traffic will only make the problem worse, or more prevalent. Also, that timeout scenario sounds like it would lead to a lot of confusion.

For resolving the issue about NATS queue-wor

[2018-09-04 14:33] viveksyngh commented on #35
Derek assign: me

[2018-09-05 07:14] LucasRoesler commented on #32
Is latency on asynchronous calls a big concern? I understand the issue for synchronous calls.

Having said that, the worker should have an expiration back off anyway. I think option 3 is also a d cent way to go

[2018-09-08 08:58] #35 closed

[2018-09-14 08:01] feifeiiiiiiiiiii opened #38 "Refactor: unified processing parse env max_inflight, ack_wait variable"
Unified processing parse env `max_inflight`, `ack_wait` variable

## Expected Behaviour

Unified processing parse env `max_inflight`, `ack_wait` variable

## Possible Solution

Move parse env `max_inflight`, `ack_wait` to `readConfig.Read()` , use `readConfig` unified processing parse env variable

[2018-09-17 20:22] alexellis opened #40 "Dockerfile broken for armhf"
A user emailed me to let me know that the latest image for armhf wasn't pushed up to the Hub, I've just run another build and saw this error:

[code]

I suspect this is to do with the latest changes in #36 #35

[2018-09-17 20:30] alexellis commented on #40
I've updated this and pushed `openfaas/queue-worker:0.5.2-armhf`

[2018-09-17 20:30] #40 closed

[2018-10-17 20:06] alexellis opened #42 "Feature: Return HTTP status code and other meta-data via X-Callback-Url"
## Expected Behaviour

The HTTP status code of the function being executed and potentially any other useful meta-data should be returned to the X-Callback-Url as a HTTP Header

## Current Behaviour

No context about pass/failure, but it appears if the process gives a bad HTTP code we may get an empty body.

## Possible Solution

This is not a refactoring exercise, so it shouldn't restructure the c

[2018-10-18 21:08] pyramation opened #43 "SIGSEGV in queue-worker when remove/deploy (redeploy) function that is being called"
I have a service that is trying to call asynchronous functions at the same time those functions are being re-deployed.

## Expected Behaviour
I would expect a caught error rather than seg fault or null pointer ref.

## Current Behaviour

The queue-worker seems to have a fatal crash. Good news is, once the functions are re-deployed, everything does go back to normal.

[code]

## Steps to Reproduce

[2018-10-18 21:32] pyramation commented on #43
@alexellis sure thing, let me get an example going.

[2018-10-18 22:32] pyramation commented on #43
@alexellis https://github.com/pyramation/nats-queue-issue-43

[2018-10-18 22:35] pyramation commented on #43
Specifically, here is where the crash happens: https://github.com/pyramation/nats-queue-issue-43/blob/master/scripts/crash.sh#L26

[2018-10-19 06:46] alexellis commented on #43
One thing to note is that Kubernetes doesn't do anything new instant deletion, so I recommend using a rolling update instead of a delete/create.

[2018-10-19 10:42] alexellis commented on #42
Derek close: fixed in latest release

[2018-10-19 10:42] #42 closed

[2018-10-19 11:18] LucasRoesler commented on #43
For future reference, the related PR is #44

[2018-10-19 16:22] ewilde commented on #43
I verified that the script supplied by @pyramation causes a panic before #44
@alexellis I verified the fix from #44 works and the panic does not occur when running the same script

[2018-10-27 20:42] ewilde commented on #43
Derek close

[2018-10-27 20:52] alexellis commented on #43
Derek close

[2018-10-27 20:52] #43 closed

[2018-10-27 20:52] alexellis commented on #43
Wonder if you're in the file @ewilde?

[2018-10-28 07:49] ewilde commented on #32
Happy to work on this if no one else has started on it. Need this to go live with faas-fargate

[2018-10-28 08:35] alexellis commented on #32
Thanks Ed. Just need to work out which approach is most appropriate.

I am leaning towards vendoring out the scaling code from the gateway component to faas-dcos and running it here and in the queue worker too.

[2018-10-29 01:43] #38 closed

[2018-11-01 20:03] alexellis commented on #32
I'm working on this currently and expect to have it released some time over the next few days. The gateway piece is done and the nats-queue-worker piece is done but undergoing more testing.

[2019-01-05 12:53] alexellis opened #48 "Allow message to be verified"
We can use HMAC or RSA and HMAC together so that receivers of the callbacks can verify the sender as the queue worker.

[2019-01-15 10:37] alexellis opened #50 "Add reconnection logic for NATS queue worker and gateway handler"
## Expected Behaviour

The gateway and NATS queue worker both should reconnect if the connection is broken.

## Current Behaviour

They do not reconnect.

## Possible Solution

Solution being worked on in #49

Also tracked via https://github.com/openfaas/faas/issues/1031

[2019-01-15 10:40] alexellis opened #51 "Add shut-down logic for subscriber/publisher"
## Expected Behaviour

The subscriber (queue-worker) and publisher (gateway) should not try to reconnect if the connection is being broken due to SIGTERM/SIGINT.

## Current Behaviour

Once #50 is merged they should both try to re-try during the period at which they are terminating.

## Possible Solution

The watchdog implements similar logic, it could probably be adapted for use here: https://git

[2019-01-15 10:45] bartsmykla commented on #51
Derek assign: me

[2019-01-15 10:45] bartsmykla commented on #51
I want to do that. It should be quick thing

[2019-01-16 14:17] alexellis opened #53 "ARM64 Docker build failing on Rock64"
## Expected Behaviour

Build should pass

## Current Behaviour

[code]

[code]

I'm using publish-arm.sh from openfaas/faas/contrib

Alex

[2019-01-29 15:34] alexellis commented on #53
I fixed the Dockerfile for this.

[2019-01-29 15:34] #53 closed

[2019-01-29 15:34] alexellis commented on #53
cc @rdimitrov

[2019-02-20 16:23] alexellis commented on #48
Via @ewilde https://tools.ietf.org/html/draft-cavage-http-signatures-05

[2019-02-24 09:00] ewilde commented on #48
![Alt text](https://raw.githubusercontent.com/ewilde/diagrams/master/openfass%20http%20signature.svg?sanitize=true)
<img src="https://raw.githubusercontent.com/ewilde/diagrams/master/openfass%20http%20signature.svg?sanitize=true">

[2019-02-24 22:07] ewilde commented on #48
Derek assign: ewilde

[2019-02-26 08:04] avielb opened #57 "max_inflight env var is ignored"
Hey,
I have an OpenFaaS cluster setup and running with k8s and I am using the async function invocation.
As it is written in the docs (https://docs.openfaas.com/deployment/troubleshooting/) it is possible to configure parallel executions for each queue worker.

As it is written in https://github.com/openfaas/nats-queue-worker/blob/master/readconfig.go, there is an environment variable `max_infligh

[2019-03-04 17:43] avielb commented on #57
help? anyone?

[2019-03-04 17:49] alexellis commented on #57
Hi @avielb, thanks for your interest in OpenFaaS.

OpenFaaS has 1300 members in the Slack community and is operated for free on a voluntary basis by the community which means you won't always get an answer immediately. This does not mean that you are being ignored.

Please show some of your workings / console output that shows the `max_inflight` variable is not being used by NATS Streaming?

In ad

[2019-03-05 04:21] burtonr commented on #57
I've confirmed this is also the case with Swarm...
I _think_ it may be related to the `handler/nats_queue.go` [here](https://github.com/openfaas/nats-queue-worker/blob/master/handler/nats_queue.go#L53)

My settings:
#### queue-worker
[code]

To test, I created a node function as follows:
[code]

and the `stack.yml` used:
[code]

Then, executed the following (added the query string so it was easier

[2019-03-05 08:34] alexellis commented on #57
@burtonr thanks for taking a detailed look at this. Did you see any configuration issues?

Looking at `git blame` - these files were heavily modified by @bartsmykla for the NATS reconnecting piece. Could there have been a regression introduced?

Alex

[2019-03-05 09:25] alexellis commented on #57
I have spent a couple of hours on this and can reproduce the issue too.

@avielb can you try going back to an earlier queue worker and see if the issue still persists?

I'll ping @kozlovic

A few things I've tried:

* Setting stan values

[code]

* Setting the values directly in the `connect` method in `types.go`

[code]

Alex

[2019-03-05 12:59] alexellis commented on #57
These are the changes that I've tried, but this didn't seem to resolve the issue. https://github.com/openfaas/nats-queue-worker/pull/58/files

[2019-03-05 15:41] kozlovic commented on #57
@alexellis To be clear, a single subscription has always and will always be invoked with a single message at a time. The MaxInflight simply means that the server can send to the library up to that number of messages without receiving an ACK, but the callback will be invoked with 1 message, then when callback returns, present the 2nd message (which will likely be already in the library), etc..
You

[2019-03-07 02:25] burtonr commented on #57
@alexellis What's the plan here? Should we update the queue-worker to use a go routine so allow for processing multiple messages asynchronously (with the understanding that there is no guarantee of order)?

_or_ do we update our documentation stating that if you want multiple long-running tasks to be performed at the same time, you must scale the queue-worker service to the number of functions to

[2019-03-08 18:15] alexellis commented on #57
This is surprising because I'm sure this is the behaviour explained to me by Peter or Brian when they were with the NATS team. I think I even saw it working this way with our code.

If whatever changes we've made have caused a regression in behaviour, or if it actually never worked that way then we should just update the documentation to state parallelism x N  = queue-worker x N.

[2019-03-08 18:24] kozlovic commented on #57
@alexellis I can tell you that in NATS (and streaming), a single subscription will always dispatch messages one at a time. It has always been the case, and will probably always be. Most users want to have messages coming on a given subscription to be processed in order. If the library was dispatching in different go routines for every message on a subscription, ordering would not be possible.

[2019-03-09 03:51] burtonr commented on #11
Derek close: merged

[2019-03-09 03:51] #11 closed

[2019-03-09 04:41] burtonr commented on #57
The OpenFaaS docs have been updated to explain that `queue-worker` needs to scale to match the expected parallel invocations. There is now a new page [Async](https://docs.openfaas.com/reference/async/) in the `Reference` section.

I'll close this issue, but feel free to continue to comment

[2019-03-09 04:41] burtonr commented on #57
Derek: close

[2019-03-09 04:41] burtonr commented on #57
Derek close

[2019-03-09 04:41] #57 closed

[2019-03-10 13:27] avielb commented on #57
@alexellis can you tell what version exactly? I have tried it also with 0.5.4 and still the same behavior.
@burtonr that means that OpenFaaS queue workers won't be able to do more than 1 task at the time?

[2019-03-10 14:53] burtonr commented on #57
@avielb That is correct. The nats-streaming will process the requests in the order they are received. If you need tasks executed in parallel, you can scale the nats-queue-worker service up to match the amount of tasks you want to be executed in parallel.

This is a feature of nats-streaming so that the order of execution will be maintained. The functions will still be invoked asynchronously though

[2019-03-18 14:14] acornies opened #59 "Allow alternate port for gateway to invoke functions"
## Expected Behaviour
When using OpenFaaS on Nomad I'd expect to be able to override the gateway port based on my configuration.

## Current Behaviour
The queue worker has a hard-coded value of :8080 as the gateway port. https://github.com/openfaas/nats-queue-worker/blob/master/main.go#L80

## Possible Solution
Allow the gateway port to be configurable or pass and use the information from the asyn

[2019-04-29 12:23] alexellis commented on #32
I don't remember where the branch is for this code.

On retrospect I'm still torn on the way the queue-worker invokes functions directly. It should probably invoke via the synchronous endpoint of the gateway. It would be good to get some feedback from end-users who are using asynchronous functions as to how important it is to have a separate timeout from the gateway timeout for the asynchronous fu

[2019-04-29 12:23] alexellis commented on #32
@matipan

[2019-04-29 12:42] matipan commented on #32
In my case it does not matter if the timeouts are different. But I see why people would want to have that. They could be using the functions for some sorts of batch processing or something and having the high timeout for async calls but not sync might be useful.

In my opinion I would still go for option 3 and continue to call the functions directly or have the gateway provide an endpoint(accessib

[2019-05-01 15:59] anmtan commented on #32
Hello, I am new to openfaas and exploring async function scale from zero. Just wondering if there is any timeline for this feature to be implemented @alexellis. Thanks.

[2019-05-01 22:06] alexellis commented on #32
@anmtan what's your use-case? Are you aware that functions specifically need to opt-in to using scale to zero? i.e. it doesn't affect you unless you scale the "async" function to zero.

[2019-05-02 02:27] anmtan commented on #32
Yes, I am aware of that. I tried calling the function synchronously, and it did scale to 1 from zero. Our use case is batch processing for a long running job. It may take seconds or even a minute to finish running the function. When I scaled this async function to zero and invoked this function asynchronously, it did not scale to 1 from zero.

[2019-05-02 04:56] alexellis commented on #32
That is correct, as per the issue definition.

Have you considered for the time-being, making those important functions scale to zero (i.e. don't add the `com.openfaas.scale.zero: true` label?

[2019-05-02 05:33] alekar commented on #32
It might be valuable to have different timeouts for synchronous and asynchronous workloads. A lot of asynchronous work can have longer timeouts if it's running on a 'best effort' SLA.

Any thoughts about having the queue worker call the provider? It might be a compelling option: it is possible to colocate a 'read-only' provider with the queue worker. Then there is no cost of a network hop, and the

[2019-05-04 21:32] alexellis commented on #32
Thanks for your thoughts.

[2019-05-04 22:33] alexellis commented on #32
I've read the thread over again and I think option 3 seems to have the most votes.

To summarise, it would work like this:

Currently the gateway sales up functions which are at 0/0 replicas when it receives a synchronous call.

When this work is complete then the asynchronous endpoint of the gateway will do the same.

I think we could hit a race condition where a function is reporting ready > 0/0

[2019-05-05 00:08] matipan commented on #32
I did not take this into account. I believe I like option 2 better now. It's true that we could create a somewhat chatty interface, but I would rather have a chatty interface with a clear separation of concerns than the opposite.

[2019-05-05 00:13] alexellis commented on #32
I'll have a look at this over the course of my flight.

[2019-05-07 16:49] #32 closed

[2019-07-06 10:44] alexellis opened #61 "Feature: add healthcheck"
## Expected Behaviour

Healthcheck over HTTP or an exec probe which can be used by Kubernetes to check readiness and health

## Current Behaviour

N/a

## Possible Solution

Please suggest one of the options above, or see how other projects are doing this and report back.

## Context

A health-check can help with robustness.

[2019-07-06 10:44] alexellis commented on #61
See also: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/templates/gateway-dep.yaml#L45

[2019-07-16 15:56] aklyachkin opened #62 "Feature: ppc64le support"
## Expected Behaviour
nats-queue-worker compiles on Linux/ppc64le

## Current Behaviour
nats-queue-worker doesn't compile on Linux/ppc64le

## Possible Solution
merge request will come

## Context
trying to deploy openfaas on ICP on RHEL/ppc64le

## Your Environment
* Docker version `docker version` (e.g. Docker 17.0.05 ):
18.06.3-ce
* Are you using Docker Swarm or Kubernetes (FaaS-netes)?
Kuberne

[2019-07-16 18:49] alexellis commented on #62
Hi, this is part of a larger on-going conversation with some of the associates working on the IBM PoC for OpenFaaS.

I have asked several times for a formal call to be set up to discuss IBM's aims and goals.

My primary concerns with merging this architecture is that none of the project contributors have access to IBM Power Systems, OpenPOWER. This feels like something that should be set up more f

[2019-07-22 20:51] kwojcicki opened #64 "404 Asyc Doc Readme"
404 Linked in the README.md

https://github.com/openfaas/nats-queue-worker/blame/master/README.md#L9 (currently links https://github.com/openfaas/faas/blob/master/guide/asynchronous.md)

should probably be linking to https://docs.openfaas.com/reference/async/

[2019-07-22 20:58] alexellis commented on #64
Thanks for your help. I would love a PR for this.

Please just make sure to `git commit --signoff` to avoid upsetting Derek 😄

[2019-07-22 21:39] kwojcicki commented on #64
Fix up https://github.com/openfaas/nats-queue-worker/pull/65, managed to remember adding -s :laughing:

[2019-07-22 21:47] #64 closed

[2019-07-22 21:47] alexellis commented on #64
Thank you :)

[2019-08-22 10:57] LucasRoesler opened #66 "Update docker Go version to 1.11.13"
Per the security announcement https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg we should update the docker build layers to at least Go 1.11.13

## Possible Solution

The builder layer in the Dockerfile should use `golang:1.11`

## Related
### Update Dockerfile and rebuild/release
https://github.com/openfaas/faas/issues/1291
https://github.com/openfaas/templates/issues/170
https:

[2019-08-22 14:27] #66 closed

[2019-08-22 14:27] alexellis commented on #62
/close: merged.

[2019-08-22 14:27] #62 closed

[2019-08-22 14:36] alexellis commented on #66
Release: https://github.com/openfaas/nats-queue-worker/releases/tag/0.8.0

[2019-09-05 20:28] alexellis commented on #59
@acornies is this still the case?

[2019-09-06 14:13] acornies commented on #59
Yes: https://github.com/openfaas/nats-queue-worker/blob/master/main.go#L33

[2019-09-06 14:27] alexellis commented on #59
I guess on K8s/Swarm, all gateway services listen on port `8080`. Is this a nomad thing?

[2019-09-06 14:27] alexellis commented on #59
I'd accept a patch that included the port in the gateway address / configuration.

[2019-09-06 14:33] acornies commented on #59
Will do! In short, yes. I've worked around it for now but would be nice to have it configurable for those not running overlay.

[2019-09-07 07:39] alexellis commented on #59
Looks like @jonatasbaldin has picked this up now.

[2019-10-11 11:57] #59 closed

[2019-10-28 00:46] samhuss opened #70 "Nats cluster has fixed cluster ID "faas-cluster""
Hello,

I'm trying OpenFaas for my new project using Nomad with Consul by following Nick Jackson's documentation for faas-nomad provider.
While I'm having my environment already setup with Nats and Nats-Streaming clusters using the default cluster id "test-cluster" there was no way that the OpenFaas gateway would pick it up. I figured out the issue was a hard coded cluster ID in the [source code f

[2019-10-28 10:05] alexellis commented on #70
Moving issue to correct repo.

Thanks for the suggestion, let's gauge interest to see if it's something we want to be configurable or not.

[2019-11-22 15:00] bmcstdio commented on #70
I'd be interested in this as well.

[2019-11-25 21:04] bmcstdio commented on #70
@alexellis this can be closed now

[2019-11-25 21:36] #70 closed

[2019-11-26 09:33] bmcstdio opened #75 "Durable subscriptions?"
## Expected Behaviour

Invocations made while no workers are running are eventually performed (i.e. after there's at least one worker running again).

## Current Behaviour

All but the very last invocation made while no workers are running is actually performed.

## Possible Solution

Support durable queue subscriptions, which should be just a matter of setting [`durable`](https://github.com/openf

[2019-11-26 10:30] bmcstdio commented on #75
[code]

[2019-11-26 10:43] alexellis commented on #75
Can you edit and fill out the issue template, thank you 🙏

[2019-11-26 10:44] bmcstdio commented on #75
This may be more of a question rather than an actual issue, I just want to understand whether I am missing something or not.

[2019-11-26 12:48] alexellis commented on #75
@kozlovic do you remember how we landed on this configuration? Was it to do with not using a statefulset and the pod name changing, or to do with the default in-memory store?

[2019-11-26 15:27] alexellis commented on #75
Thanks for your PR @bmcstdio - does this work only in HA / with database-backed storage, or does it also work with the in-memory single replica of NATS Streaming in the OpenFaaS helm chart?

[2019-11-26 15:34] bmcstdio commented on #75
@alexellis it works with whatever configuration you may have, subject to the—well...—durability guarantees it provides in case of a (NATS Streaming) server crash.

[2019-11-26 17:45] kozlovic commented on #75
@alexellis Not sure what you are asking me. Blame of main.go shows that you had `durable` variable and passing it as an option to the QueueSubscribe(), but `durable` was never set to anything. If it would not be a queue subscription, then you would not be able to have more than one durable subscription with the same durable name and channel name. But with queue, you can have a durable queue group

[2019-12-02 22:06] embano1 opened #81 "[Feature request] Dead letter queue for NATS"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Using async invocation it seems there's no way to tell whether the invocation eventually succeeded. Failure could be caused by API issues, functions being deleted/n

[2019-12-09 02:00] ewilde opened #77 "X-Duration-Seconds header is not set on function timeout"
If the original function invocation takes longer than than the functions combined `read_timeout` and `write_timeout` the `X-Duration-Seconds` header is not set on the callback function

## Expected Behaviour
`X-Duration-Seconds` should be set on the callback function

## Steps to Reproduce (for bugs)
1. Create a function `a` , make is sleep for 10 seconds
2. Create a callback function `b` that pri

[2019-12-09 02:59] ewilde commented on #77
This may be expected behaviour, if it's not I guess the following high level fix:

Either
- If `X-Duration-Seconds` is missing from original function call response, use time measured by queue worker

Or

- Fix why header is not being set by watchdog (harder)

[2019-12-10 08:24] bmcstdio commented on #75
@alexellis can we get #76 merged please? 🙏

[2019-12-10 11:04] #77 closed

[2019-12-10 11:32] bmcstdio commented on #75
#76 has been merged, so I am closing this.

[2019-12-10 11:32] #75 closed

[2019-12-10 11:42] bmcustodio opened #80 "Support a manual acknowledgement mode."
## Expected Behaviour

From what I understand from reading the code, and from my tests, if a function invocation fails for some reason (networking, ...) or returns a non-`2xx` status code, the invocation won't be replayed because (a) messages are automatically acknowledged upon being received, and (b) there's no re-queue logic in the error handling bits ([here](https://github.com/openfaas/nats-que

[2019-12-10 12:36] alexellis commented on #81
NATS does not provide a DLQ. I spent some time looking into build a DLQ when building colorisebot, but it's complicated. If the upstream API is failing due to rate-limiting, then retrying N times without an appropriate back-off is counter-productive.

https://github.com/alexellis/mailbox

https://github.com/alexellis/rate-limited-mailbox

[2019-12-10 12:37] alexellis commented on #80
Possibly related:

https://en.wikipedia.org/wiki/Dead_letter_queue

https://github.com/openfaas/nats-queue-worker/issues/81

[2019-12-10 19:29] ewilde opened #82 "Provide original function name in callback"
The callback currently contains the following meta-data from the original invocation:

|Header | Description
-- | --
X-Call-Id | The original function call's tracing UUID
X-Duration-Seconds | Time taken in seconds to execute the original function call
X-Function-Status | HTTP status code returned by the original function call

I am proposing that we add the original function name as well

| Header

[2019-12-11 08:56] alexellis commented on #82
I am fine with this.

[2019-12-15 19:40] embano1 commented on #51
@bartsmykla has this been resolved with your PR so this issue can be closed? Thx for your work!

[2019-12-15 21:10] embano1 opened #84 "Clarify queue-worker durable queue implementation and delivery semantics"
Before we start working on DLQ (#81) and ACK options (#80) it would be good to get a better understanding of the current code regarding the durable queue subscription.

1) Durable queue seems to be optional (default off) as per environment configuration (see recent fix #76) - why is durable subscription not default/always on? Isn't that the desired behavior in async mode?
2) `var durable`, even if

[2019-12-24 09:25] alexellis opened #85 "Path needs transformation before invoking via gateway_invoke"
The path for a service needs transformation before invoking via gateway_invoke

## Expected Behaviour

If `env` is invoked as per:

[code]

The path received by the function should be `/` whatever the value for `gateway_invoke` - `true` or `false`.

## Current Behaviour

When in `gateway_invoke` `true` and with `direct_functions` set to `false` the whole path is pre-pended:

[code]

The function r

[2019-12-24 09:51] LucasRoesler commented on #85
/assign me

[2019-12-24 10:58] alexellis commented on #85
My gut feeling is that this needs changing in the gateway code since the provider is bypassed for the publish message.

[2019-12-24 10:58] alexellis commented on #85
See what you think once you been repro

[2019-12-25 14:06] LucasRoesler commented on #85
After a couple of side excursions, I reproduced using

[code]

The relevant line being `2019-12-25T13:24:31Z Http_Path=/async-function/env` and `2019-12-25T14:04:20Z Http_Path=/`

[2019-12-25 14:15] LucasRoesler commented on #85
@alexellis per your comment about the gateway implementing this, it seems like the `QueuedProxy` should just always use `handlers.FunctionPrefixTrimmingURLPathTransformer{}`.   Is there a case where the function should receive the entire url that the gateway received?

[2019-12-25 14:41] LucasRoesler commented on #85
@alexellis if we always apply the function prefix transform to the queue endpoint, it seems to work correctly

[code]

[2019-12-25 17:40] #85 closed

[2020-03-31 22:27] matthiashanel opened #87 "Upgrade nats-streaming client"
## Expected Behaviour
Use a current version of the nats streaming client.

## Current Behaviour
A while ago the repository for the nats streaming client got moved from:
https://github.com/nats-io/go-nats-streaming
to :
https://github.com/nats-io/stan.go
Therefore, nats-queue-worker will not pick up bug fixes and improvements.

## Possible Solution
Rename the package in go files, Gopkg.toml and upd

[2020-04-17 19:09] andeplane opened #90 "queue-worker crashes if callback happens and function call failed"
If function call ends up giving 503, `nats-queue-worker` crashes with `panic: runtime error: invalid memory address or nil pointer dereference` when trying to do callback if `X-Callback-Url` is set.

## Expected Behaviour
It doesn't crash.

## Current Behaviour
It crashes and pod dies.

## Possible Solution
See https://github.com/openfaas/nats-queue-worker/pull/89

## Steps to Reproduce (for bugs)

[2020-04-17 19:28] alexellis commented on #90
Thanks for the fix. Please provide concrete instructions in the steps section. We shouldn't have any ambiguity here.

[2020-04-17 20:11] andeplane commented on #90
Yep, will do.

[2020-04-22 08:40] #90 closed

[2020-04-22 08:40] alexellis commented on #90
Fixed via #89 thank you for the PR. please give exact repeatable steps for future issues 👍

[2020-04-22 08:41] alexellis opened #91 "TLSInsecure option required for callbacks"
Cognite have requested a "TLSInsecure" option for callbacks due to incorrectly configured services within their network that cannot be changed.

I don't mind adding this change as long as the default is off since this is also present in the CLI.

[2020-04-22 08:42] #91 closed

[2020-04-22 08:43] #87 closed

[2020-04-22 08:43] #82 closed

[2020-04-22 12:22] alexellis opened #92 "Show built version and SHA on start-up"
Show built version and SHA on start-up

## Expected Behaviour

Users should be able to identify versions from logs

## Current Behaviour

You can inspect the Docker image

## Possible Solution

See the logs of faas-netes and use the same approach

## Steps to Reproduce (for bugs)

1. `arkade install openfaas`
2. `kubectl logs -n openfaas deploy/queue-worker`

## Context

Better consistency and log

[2020-04-22 12:32] alexellis commented on #91
cc @andeplane

[2020-04-28 17:37] matthiashanel opened #94 "Fix properties used by queue worker and add concurrent function invocation"
## Expected Behaviour
The queue worker uses nats as queue. Because of that some options don't quite fit:

## Current Behaviour
* durable name is optional
* durable is created with StartWithLastReceived
* because of the blocking nature of the callback
  * Max In flight is not as use-full.
  * Messages are processed sequentially.

## Possible Solution
* durable name can be derived from the subject n

[2020-05-01 11:14] #94 closed

[2020-05-01 11:35] LucasRoesler opened #96 "Remove durable config from the readme"
## Context

In #95 the durable configuration was removed

https://github.com/openfaas/nats-queue-worker/pull/95/files#diff-3511d0be867c6e99793319238ebe2438L48

So we should remove this line from the README

https://github.com/openfaas/nats-queue-worker/blame/master/README.md#L37

[2020-05-01 13:14] alexellis commented on #96
/assign: matthiashanel

[2020-05-01 13:15] alexellis commented on #96
@matthiashanel could you take this please?

[2020-05-01 13:17] alexellis commented on #96
See also: https://github.com/openfaas/docs/issues/225

[2020-05-01 17:59] #96 closed

[2020-05-12 12:28] Amalkh5 commented on #92
fixed by #93

[2020-05-12 12:30] alexellis commented on #61
@matthiashanel what are your thoughts on this?

[2020-05-13 06:21] matthiashanel commented on #61
@alexellis, I can see how adding a HTTP endpoint makes sense if the service itself serves HTTP. There you'd get some feedback e.g. your service slows down and so would the health check endpoint. In the queue worker this would be largely unrelated, so I don't quite see the benefit justifying the added complexity.
As for readiness, if connect fails the program will exit, causing a restart. When this

[2020-05-13 13:43] alexellis commented on #61
Most Kubernetes services should have a way to express health and readiness via an exec, TCP, or HTTP probe. This can be used for a number of things including decisions about scaling or recovery.

If we're fairly sure that this is not required when interacting with NATS then I'll close it out.

I wonder if there is any value in exploring metrics instrumentation of the queue-worker itself, or if the

[2020-05-13 18:54] matthiashanel commented on #61
health probe:
The best value I can imagine the queue worker to produce is how many messages it currently processes. A value of 5 says little about wether scaling is needed or not. Scaling is needed if there are too many messages the service has not seem.

Readiness probe:
The queue worker does not open a port or serve HTTP, which makes a readiness probe a tough nut to crack. Ready for the queue wo

[2020-05-14 19:14] matthiashanel opened #99 "Expose nats monitoring endpoints to prometheus"
## Expected Behaviour

Expose stats like pending messages to prometheus and grafana

## Current Behaviour

These are currently not exported

## Possible Solution

* Open the monitoring endpoint on the streaming server
* start the nats-prometheus-exporter
* enable scraping of the produced metrics

## Context

This is a result of #61

[2020-05-14 19:18] alexellis commented on #99
Sounds good to me. I think most of this work will take place in the https://github.com/openfaas/faas-netes repo in the helm chart.

^ A setting on the NATS YAML file

^ the sidecar will be a YAML file alongside the NATS YAML

^ Prometheus config rule

One thing we may want to consider is potentially talking about retries, if we do retries in the queue-worker, would we want to expose that as a metr

[2020-05-15 11:22] alexellis commented on #99
@LucasRoesler any thoughts on this?

[2020-05-15 16:35] alexellis opened #100 "[Research] Retries for certain HTTP codes"
This issue is to gather research and opinions on how to tackle retries for certain HTTP codes.

## Expected Behaviour

If a function returns certain errors like 429 (too busy) (as can be set by max_inflight in the function's watchdog), then the queue-worker could retry the request a number of times.

## Current Behaviour

The failure will be logged, but not retried.

It does seem like retries will

[2020-05-15 16:43] andeplane commented on #100
Interesting! I understand your concerns with the ack window, and in our case, we can increase it by the max retry time. I'll report back here our experiences with high load.

[2020-05-15 16:47] matthiashanel commented on #99
While this change looks straight forward there is a consideration to be made.

I want to move the queue worker to jetstream.
While jetstream coming out of beta is close, it is not here yet.
When switching to jetsream, metric names etc.. will change.
For anyone using this, I'd suggest to use them with the expectation that they are going to change.

With jetstream retries are probably easier to do a

[2020-05-15 16:47] alexellis commented on #100
I'd encourage you to read up on the Linkerd caution over arbitrary retries too.

[2020-05-15 16:48] andeplane commented on #100
Will do for sure :) Our use case is that we want to ensure that function pods don't get out of memory, so we limit the number of concurrent function calls with `max_inflight`. To allow auto scaling to kick in, we create an `scale-up` on 429's (thanks to @alexellis who designed this), and allow the queue workers to retry a few times so they may end up being executed either on new pods, or once the

[2020-05-15 16:48] alexellis commented on #99
Thanks for those comments, we will need to bring that into consideration when releasing the NATS metrics and provide an upgrade path or release notes.

Is the window until JetStream GA so short, that we should mark the NATS Streaming metrics as experimental/alpha so people can't get too attached?

[2020-05-15 17:15] matthiashanel commented on #100
When openfaas switches to jetstream dynamically extending ack_wait becomes an option.
That'd be: while the request to the function is still outstanding, we request an extension every ack_wait/2. This way ack_wait wouldn't have to be set to the "correct value" and a reasonable default could suffice.

When looking into this I noticed there's a choice when the function returns an error code or an err

[2020-05-15 17:23] matthiashanel commented on #99
I expect to convert the openfaas queue worker to jetstream to gather more feedback.
Release follows that feedback.
There is a push going on to get it out the door within a few months/couple weeks.

It's certainly too close to start depending on streaming functionalities now.
Labeling it as experimental/alpha with an explanation to why would be a good thing.

[2020-05-16 06:50] LucasRoesler commented on #99
I think exposing these metrics is a great idea. With respect to the changing names when moving to JetStream, I echo Alex's question/concern about timing, but also agree that if you want to do this now before JetStream then we can mark it as experimental and we can also avoid announcing that these metrics are exposed to reduce the amount of people tempted to depend on them.

[2020-05-20 01:52] matthiashanel commented on #99
@alexellis , @LucasRoesler , I have submitted the [PR](https://github.com/openfaas/faas-netes/pull/639)

As far as timing goes, Jetstream is close, but not here yet.
I'd go with the experimental flag for now.

[2020-05-20 08:22] alexellis commented on #99
Thanks for submitting the PR, I've reviewed it and commented on next steps.

[2020-05-22 08:05] #99 closed

[2020-05-30 09:20] #92 closed

[2020-05-30 09:20] alexellis commented on #92
Thanks @Amalkh5

[2020-09-24 12:10] alexellis opened #101 "Move the queue-worker to Go modules"
## Task

Move the queue-worker to Go modules

Dep is now deprecated.

I would suggest that a previous contributor to openfaas takes this.

I'd be most comfortable if @matthiashanel had time to look into it given his recent contributions and understanding of the NATS work upstream.

[2020-09-25 01:04] matthiashanel commented on #101
@alexellis do you have a time line for this in mind? I'd aim for Friday next week or the Monday after.

[2020-09-25 07:22] alexellis commented on #101
That timeline would work, thank you 👍

[2020-09-25 16:35] matthiashanel commented on #101
Assign it to me then

[2020-10-26 12:42] tmiklas opened #102 "Async invocation callback follows 30x redirects but loses data on the way"
When asynchronous function execution completes the data is sent back to callback url. However if that callback URL issues 30x redirect (from http to https or similar), the data seems to be posted to HTTP url, server responds 30x redirect to HTTPS, another POST requests is done to HTTPS url however function output data is missing.

## Expected Behaviour

1. Do not follow 30x redirects - it is user'

[2020-10-26 13:02] alexellis commented on #102
Hi @tmiklas

Thank you for logging this issue.

If you can provide step by step instructions and an example of when you ran into this, I'm sure someone could look into it. If we have to spend 1-2 hours getting up to speed and configuring a new function it will take longer and might fall of the radar.

Alex

[2020-10-26 14:09] tmiklas commented on #102
1. Set up requestbin on `https://requestbin.lan`, with `http://requestbin.lan` redirecting 301 to `https://requestbin.lan` - this can be done using docker and is default behaviour if you use LE for TLS certificates; if you visit HTTP URL browser will get redirected to HTTPS
2. Set up faasd v0.9.6 and deploy nodeinfo function
3. Start tcpdump to capture traffic on faasd server `tcpdump -i eth0 -A t

[2020-10-28 16:04] alexellis commented on #102
Thank you for the report. Just to clarify `30x` means `301` and `302`, not 30 redirects.

[2020-12-06 15:49] alexellis commented on #84
This question came up on Slack recently. @matthiashanel had a rather good answer, but it looked like OpenFaaS can be configured for at least once delivery - you need to configure NATS as per the production guide in the docs.

[2020-12-06 15:49] #84 closed

[2021-02-26 08:21] kevin-lindsay-1 opened #105 "[Feature Request] Asynchronous Concurrency Limiting"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour

If you set `max_inflight` on an async function's `of-watchdog`, you might naturally assume that a queue worker will handle the case when it t

[2021-02-26 17:52] derekyyyan commented on #105
While I go do some load testing, a couple more clarifying questions:

What happens if a message has been retried for the max # of times? Are you saying that it gets put back into the queue? Or does the queue worker give up and sends a 429 as the official response to the callback URL?

If `max_inflight` is much larger than the number of available function pods, wouldn't that cause lots of retries?

[2021-02-26 20:19] kevin-lindsay-1 commented on #105
@derekyyyan

I imagine the latter, but it would be nice to know this explicitly as part of what I assume will be in a follow-up PR to the documentation.

Maybe that's fine? I'll load test that scenario too.

I use a different queue for each async job because of such fine tuning like this (mainly to remove ambiguity), but just looking at your description of the setup I'd say unless you have a pool

[2021-02-26 20:26] kevin-lindsay-1 commented on #105
@alexellis

That actually sounds like a really elegant way to autoscale; I'll need to test that out.

From the testing I've done this is a major step and I'm happy enough with the current behavior; I'll need to eval it over time and see if I've got any pain points, but as it stands I don't currently have any tangible items that would make me think that this solution isn't currently satisfactory. C

[2021-02-26 21:06] kevin-lindsay-1 commented on #105
@alexellis

One note on that: if `429`s from the function itself are indistinguishable (in prometheus) from `429`s from watchdog, it could theoretically create application-level bugs, because normally you'd backoff if your functions start getting `429`s, rather than increasing the number of pods.

Example:
- function/a: watchdog `429`s, autoscale up, which handles additional requests as intended
-

[2021-02-26 22:29] derekyyyan commented on #105
I've done some load testing, all with 100 requests and a sleep duration of 10s, and using [Request Bin](https://requestbin.com/) to record callbacks:

| queue.max_inflight | # pods | time elapsed | expected time (# requests / # pods * sleep duration) | % increase from expected time | # Callbacks received |
|-------------------|--------|--------------|-----------------------------------------------

[2021-02-26 22:37] derekyyyan commented on #105
I think the ideal solution would be to dynamically scale either `queue.max_inflight` or the number of queue worker pods along with the function pods. That way the concurrency capacity of both the queue workers and the function would be in sync. (Unless I'm mistaken, this feature doesn't exist yet. Though this is probably worth a separate issue.)

[2021-02-28 09:47] alexellis commented on #105
@derekyyyan you are missing `function.max_inflight` from your list, and I think you need to test with different durations. Not everyone is going to have a function that always takes exactly 10s to complete.

Do you have a use-case for this request yet @derekyyyan, or is this mostly academic? I'm asking because you will need to do some testing, and tuning depending on your specific use-cases, proba

[2021-02-28 18:08] alexellis commented on #105
For scaling up, try something like:

[code]

Run `kubectl edit -n openfaas configmap/prometheus-config` to add it to your config.

[2021-03-05 13:29] kylos101 commented on #105
Hi,

My exposure to `429` is on the function side - not the watchdog side. When developing a function that uses Twilio, I had a bug that caused the Twilio API to respond with a `429` due to my misuse. [Enter my first exposure to `429`, and the concept of exponential backoff.](https://support.twilio.com/hc/en-us/articles/360044308153-Twilio-API-response-Error-429-Too-Many-Requests-)

At the time, m

[2021-03-06 12:26] kylos101 commented on #105
Just went through the demo more, and better understand how these settings do tuning. I didn't get a chance to do cold start testing, or with LinkerD but will do so later today.

# with 1 replica, and max in-flight 1, can handle 10 incoming requests in roughly 1m54s, in 69 attempts
# with 5 replicas, and max in-flight 1, can handle 10 incoming requests in roughly 20 seconds, in 40 attempts
# with 5

[2021-03-06 16:37] alexellis commented on #105
Thank you for sharing those results. There are quite a few variables here including the average duration of a function execution.

For Linkerd, just make sure that you have disabled endpoint load-balancing so that it can do its thing (direct_functions=true)

[2021-03-06 17:42] kylos101 commented on #105
Yes, totally. Now that I've dug in only a little, I see more knobs to turn
and levers to crank...there's a lot!

Appreciate the reminder regarding direct functions.

I'm logging and visualizing using loki stack. I took some screen shots of
the exponential back off tapering...it was nice to visualize when there was
more load.

On Sat, Mar 6, 2021, 11:37 AM Alex Ellis <notifications@github.com> wrot

[2021-03-07 02:03] kylos101 commented on #105
Wow, it's very balanced with `--set gateway.directFunctions=true` and when using LinkerD.

OpenFaaS is chewing through the queue and the demand is spread out evenly amongst the sleep function pods. Granted, I am using the sleep function, so there's no variance with each request. But still....cool.

Thanks for sharing a demo!

[2021-03-07 12:45] alexellis commented on #105
That's sounds even better than expected. Do you have a similar number to share like your previous test to compare with?

[2021-03-09 19:08] kevin-lindsay-1 commented on #105
@alexellis as it pertains to the prometheus rule for `429`s, if this behavior is consistent across async and sync functions, is it possible that this could be the default autoscaling rule?

Here are some arguments I might expect against such a change:

To me, it seems that concurrency limits are effectively enforced even if not explicitly provided by pod CPU/mem limits. I would argue that anyone c

[2021-05-04 07:30] #80 closed

[2021-05-10 17:41] fasilz opened #107 "Avoid logging incoming request data on https://github.com/openfaas/nats-queue-worker/blob/master/main.go#L59"
The queue-worker logs all incoming request msg data, and thus could possiblly expose data not intended to be logged routinely.

## Expected Behaviour

Not log incoming request body unless set on for debugging like https://github.com/openfaas/nats-queue-worker/blob/master/main.go#L76.

## Current Behaviour

All incoming request msg are logged here: https://github.com/openfaas/nats-queue-worker/blob

[2021-05-11 08:06] alexellis commented on #107
/msg: enduser

[2021-05-11 08:07] alexellis commented on #107
/set title: Feature request - don't log message contents

[2021-06-18 14:21] talhof8 commented on #105
Any updates/plans?

I encountered the same scenario. Until then, I’ll fork this repo & re-enqueue `429`s.

[2021-07-01 22:53] kevin-lindsay-1 commented on #105
@talhof8 as far as I am aware, resolving this issue would probably require a slightly different set of features, and is only waiting being prioritized (enough demand) & incubated.

[2021-07-22 16:19] alexellis commented on #107
Thanks for your interest in the open source code.

If you're using OpenFaaS commercially, then do ask your manager about becoming a GitHub Sponsor or buying OpenFaaS PRO.

[2021-07-27 09:09] alexellis commented on #107
This change is likely to go into OpenFaaS PRO, feel free to ask us about a license for your company: https://www.openfaas.com/support

[2021-07-27 09:10] #101 closed

[2021-07-27 09:10] alexellis commented on #101
Given we are almost a year on, I took this.

@matthiashanel feel free to check out the results to see if they are as you would have done it.

[2021-10-13 17:36] kevin-lindsay-1 opened #113 "[Feature Request] CRD for Queue/Queue Worker"
## Expected Behaviour

Right now `faas-netes` exposes up a handy little CRD for `Function`s.

At the moment, I find myself copying a live deployment of a `queue-worker` and turning that into a helm template, which is slightly dangerous because it means that users using more than the default queue are likely all bespoke to a certain degree.

It would be nice to be able to define a `Queue` as a CRD

[2021-11-02 20:10] kevin-lindsay-1 opened #114 "Queue Worker does not gracefully shut down"
In a previous conversion @alexellis and I discussed some items related to the queue worker, one of which being to verify whether or not the queue worker gracefully shuts down, or if it just abandons its work.

## Expected Behaviour

The behavior we discussed that we desired was that the queue worker attempts to gracefully shut down by:
* stop subscribing to new messages from nats
* finishing up al

[2021-11-02 21:34] kevin-lindsay-1 opened #115 "Per-function ack_wait"
In a previous conversion @alexellis and I discussed some items related to the queue worker, one of which being to verify whether or not the queue worker `ack_wait`s for multiple functions using 1 "global" setting, or on a per-function basis.

## Expected Behaviour

When discussing multiple functions being listened to at the same time on a single queue worker, we discussed potentially preferred beh

[2021-11-08 10:15] alexellis commented on #105
@derekyyyan @talhof8 you may want to take a look at what we did here: https://docs.openfaas.com/openfaas-pro/retries/

[2022-01-19 10:04] welteki opened #116 "Posting function statistics to the gateway returns http status 401"
The queue worker fails to post reports back to the gateway when `gateway_invoke` is false and `basic_auth` is set to "1".

## Expected Behaviour

Posting reports back to the gateway should return http status 202.

## Current Behaviour

When `gateway_invoke` is false and the `basic_auth` env variable is set to "1" posting a report back to the gateway fails with http status 401.

queue-worker logs:

[2022-01-19 17:09] alexellis commented on #116
I think the suggestion makes sense.

Please send a PR to use `config.BasicAuth` instead of checking the env-var.

[2022-02-16 16:52] #116 closed

[2022-02-16 16:53] alexellis commented on #114
Hi @kevin-lindsay-1 - we reviewed this on the office hours call, do you have steps for a repro please?

Alex

[2022-02-17 19:22] kevin-lindsay-1 commented on #114
I made this a while ago. What is there to repro? I don't think it gracefully shuts down as described at all, nor is it supposed to right now to my knowledge. So, unless the queue worker shouldn't exit when it's invoking a function, there is nothing to repro.

As far as I know, it doesn't gracefully shutdown as described, full stop. I've been watching these queue workers for over a year now and I d

[2022-04-25 07:19] #81 closed

[2022-06-17 20:38] alexellis commented on #114
I'd say: something that proves that this behaviour is the case, and what impact a non-graceful shutdown might have?

What would the minimum useful setup be to demo its impact and suggest what benefits a graceful shutdown could bring?

[2022-07-28 10:57] half2me opened #119 "Dynamic max_inflight"
## Expected Behaviour

I have a function which runs ffmpeg to convert a video. It's CPU bound, so I've used HPAv2 to autoscale the pods running my function. This works great, but since my functions take awhile to finish, I'm using the queue worker to do async processing. My issue is, I cannot dynamically set `max_inflight`. Ideally I would like each pod running my function to process n tasks at on

[2022-08-04 11:24] welteki commented on #119
Hi @half2me

On our blog we have an article that describes a pattern to handle this use-case. Take a look and let us know if you have any additional questions.
https://www.openfaas.com/blog/limits-and-backpressure/

Regards,
Han

[2022-08-04 11:26] welteki commented on #119
/add label: support,question